packages:
  yum:
    memcached: []
files:
  "/etc/sysconfig/memcached" :
    owner: root
    group: root
    content: |
      PORT="11211"
      USER="memcached"
      MAXCONN="1024"
      CACHESIZE="65"
      OPTIONS=""

commands:
  001_memcached_start:
    command: "service memcached restart"

services:
  sysvinit:
    memcached:
      enabled: true
      ensureRunning: true