# https://aws.amazon.com/premiumsupport/knowledge-center/cron-job-elastic-beanstalk/
# https://www.cyberciti.biz/faq/how-do-i-add-jobs-to-cron-under-linux-or-unix-oses/
# Daily 0 0 = midnight; Daily 15 min after midnight 15 0 = midnight
# 0 0 * * * root /tmp/mysqlbackup.sh
# 15 0 * * * root /tmp/filesbackup.sh

files:
  "/etc/cron.d/itacron":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * root /tmp/mysqlbackup.sh
      15 0 * * * root /tmp/filesbackup.sh

  "/home/ec2-user/.s3cfg" :
    owner: root
    group: root
    content: |
      [default]
      access_key =
      secret_key =
      security_token =

  "/tmp/mysqlbackup.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      S3_BUCKET=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.S3_BACKUP_BUCKET')
      RDS_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.RDS_USERNAME')
      RDS_DB_NAME=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.RDS_DB_NAME')
      RDS_HOSTNAME=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.RDS_HOSTNAME')
      RDS_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.RDS_PASSWORD')
      RDS_PORT=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.RDS_PORT')
      EB_SITE_URL=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.SITE_URL')

      FILE=${RDS_HOSTNAME}-`date "+%Y%m%d-%H%M"`.sql
      mysqldump \
        --host ${RDS_HOSTNAME} \
        --port ${RDS_PORT} \
        -u${RDS_USERNAME} \
        -p${RDS_PASSWORD} ${RDS_DB_NAME} > ${FILE}
      if [ "${?}" -eq 0 ]; then
        gzip ${FILE}
        /usr/local/bin/s3cmd put ${FILE}.gz s3://${S3_BUCKET}/backup/${EB_SITE_URL}/
        rm ${FILE}.gz
      else
        echo "There's an issue backing up mysql database."
        exit 255
      fi

  "/tmp/filesbackup.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      S3_BUCKET=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.S3_BACKUP_BUCKET')
      EB_SITE_URL=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.SITE_URL')

      FILE=${EB_SITE_URL}-`date "+%Y%m%d-%H%M"`
      tar -zcvf ${FILE}.tar.gz -C /drupalfiles/ .
      if [ "${?}" -eq 0 ]; then
        /usr/local/bin/s3cmd put ${FILE}.tar.gz s3://${S3_BUCKET}/backup/${EB_SITE_URL}/
        rm ${FILE}.tar.gz
      else
        echo "There's an issue archiving files."
        exit 255
      fi

commands:
  install_s3cmd:
    command: "pip install s3cmd"
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"